<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Products List </title>
</head>
<body>
<h1 Products List></h1>
<ul th:each="product: ${productsList}">
    <li th:text="${product.name}"></li>
</ul>
<br>
<span th:text="${suma}">
</span>
</body>
</html>