<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<form action="/displayproduct" method="post" th:object="${newProduct}">
    <input type="text" th:field="*{name}"/>
    <input type="number" th:field="*{price}"/>
    <input type="submit" value="Add"/>
</form>
<table class="table" style="width: 300px; margin: auto">
    <thead>
    <tr>
        <th>Product</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product: ${productsList}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
    </tr>
    </tbody>
</table>


<table class="table" style="width: 300px; margin: auto">
    <thead>
    <tr>
        <th>Product Sum</th>
    </tr>
    </thead>
    <tbody>
    <tr th:text="Sum Products Price">
        <td th:text="${}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>